.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  max-width: 1170px;
  margin: auto;
  
}

img {
  max-width: 100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 20%;
  border-right: 1px solid #c4c4c4;
  background-color: #3F0E40; 
  
}

.inbox_msg {
  border: 3px solid #3F0E40;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 250px;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  /* padding; */
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: white;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 2px solid white;
  border-width: 0 0 3px 0;
  width: 170px;
  padding: 1px 0 4px 6px;
  background: none;
  color: white;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: white;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: white;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_list:hover {
  background-color: #361D37;
}

.active {
  background-color: #1164A3;
}

.none {
  display: none;
}

.delete {
  color: #F7C434;
  display: none;
}

.mesHov:hover+.delete {
  display: block;
}

.chat_people {
  overflow: hidden;
  clear: both;
  
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
  
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 60%;
  /* text-align: center; */
}

.received_withd_msg p {
  background: #0065A0 none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
  /* width: 60%; */
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 80%;
}

.sent_msg p {
  background: #3F0E40 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: 57%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 70px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid white;
  position: relative;
  /* border-radius: 100px; */
  width: 100%;
  border: 1px solid #3F0E40;
}

.msg_send_btn {
  background:  #3F0E40 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
 
}

.msg_history {
  height: 516px;
  overflow-y: auto;
  padding-left: 100px;

}
.authName{
  display: none;
  background-color: red;
  
}
.msg_history:hover + .authName{
  display: block;
  
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 25px white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3F0E40; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #361D37; 
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
.editor{
  width: 500px;
  height: 500px;
  background-color: red;
  z-index: 10000;
}